<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>WWF-VT Project</title>

  {% include "partials/_favicon.html" %}

  <!-- Bootstrap Core CSS -->
  <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static '/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
  <link href="{% static 'datatables/datatables.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">
  <link href="{% static 'css/data_page.css' %}" rel="stylesheet">

  <script type="text/javascript">
    var commentUrl = "{% url 'submit_comment' track_name=track_name %}";
    var thumbsUrl = "{% url 'submit_thumbs' track_name=track_name %}";
    var expandRowUrl = "{% url 'expand_row' track_name=track_name %}";
    var csrfToken = "{{ csrf_token }}";

    var files = [
      "{% static 'sankey/data/panjiva_china_exports_01_2015_viz.csv' %}",
      "{% static 'sankey/data/panjiva_china_imports_01_2015_viz.csv' %}",
      "{% static 'sankey/data/panjiva_peru_exports_01_2015_viz.csv' %}",
      "{% static 'sankey/data/panjiva_us_imports_01_2015_viz.csv' %}"
    ];
  </script>
</head>


<body id="page-top">

  <!-- Navigation -->
   {% include "navigation.html" %}

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h4 class="mb-4">Detecting Illegal Timber Trade</h4>
    </div>
    <div class="overlay"></div>
  </header>



<!-- Section 1 Visualization -->

    <section class="content-section bg-light" id="Panel_1">
      <div class="container text-center">
        <div class="row">
          <div class="container_row_content">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active"
                     id="nav-home-tab"
                     data-toggle="tab"
                     href="#nav-home"
                     role="tab"
                     aria-controls="nav-home"
                     aria-selected="true">
                    Visualize Trade Flow
                  </a>
                  <a class="nav-item nav-link"
                     id="nav-profile-tab"
                     data-toggle="tab"
                     href="#nav-profile" role="tab"
                     aria-controls="nav-profile"
                     aria-selected="false">
                    Anomalies
                  </a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active"
                     id="nav-home"
                     role="tabpanel"
                     aria-labelledby="nav-home-tab">
                  {% include "set_viz_options.html" %}
                </div>
                <div class="tab-pane fade"
                     id="nav-profile"
                     role="tabpanel"
                     aria-labelledby="nav-profile-tab">
                  {% include "data_viz.html" %}
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>




  <!-- Footer -->
  {% include "footer.html" %}

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>
  <script src="{% static 'datatables/datatables.min.js' %}"></script>

      <script src="{% static 'sankey/d3.js' %}"></script>
      <script src="{% static 'sankey/d3-sankey.js' %}"></script>
      <script src="{% static 'sankey/visualization.js' %}"></script>
      <script src="{% static 'sankey/parser.js' %}"></script>
      <script src="{% static 'sankey/filters.js' %}"></script>

  <script src="{% static 'js/table.js' %}"></script>
  <script src="{% static 'js/data_page.js' %}"></script>

</body>

</html>
