{% load static %}
<footer class="footer text-center">
<div class="container">
  <ul class="list-inline mb-5" >
    <li class="list-inline-item">
      <a style="background:#ffffff00;" class="social-link  text-white"  href="https://dac.cs.vt.edu/">
        <img class="team_logo" src="{% static 'img/DAC_logo.png' %}"/>
      </a>
    </li>
    <li class="list-inline-item">
      <a style="background:#ffffff00;" class="social-link  text-white" href="https://www.vt.edu/">
        <img class="team_logo" src="{% static 'img/vt_logo.png' %}"/>
      </a>
    </li>
    <li class="list-inline-item">
      <a style="background:#ffffff00;" class="social-link  text-white" href="https://www.worldwildlife.org/">
        <img class="team_logo" src="{% static 'img/panda.jpg' %}"/>
      </a>
    </li>
    <li class="list-inline-item">
      <a style="background:#ffffff00;" class="social-link  text-white" href="https://www.traffic.org/">
        <img style="max-height: 3vh;" class="team_logo" src="{% static 'img/traffic-logo.png' %}"/>
      </a>
    </li>

  </ul>
  <p class="text-muted small mb-0">© Discovery Analytics Center, Virginia Tech, 2019 </p>
</div>
</footer>