{% load static %}
<footer class="footer text-center">
<div class="container">
  <ul class="list-inline mb-5">
    <li class="list-inline-item">
      <a class="social-link  text-white"  href="https://dac.cs.vt.edu/">
        <img class="team_logo" src="{% static 'img/DAC_logo.png' %}"/>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="social-link  text-white" href="https://www.vt.edu/">
        <img class="team_logo" src="{% static 'img/vt_logo.jpg' %}"/>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="social-link  text-white" href="https://www.worldwildlife.org/">
        <img class="team_logo" src="{% static 'img/panda.jpg' %}"/>
      </a>
    </li>
  </ul>
  <p class="text-muted small mb-0">Copyright Debanjan Datta @VT</p>
</div>
</footer>