{% extends "base.html" %}

{% load static %}

{% block head %}
    <link href="{% static 'css/hitl_table.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
{% endblock head %}

{% block content %}
<div id="viznavbar">
 <a href="#pair_table_wrapper">Record Details</a>
 <a href="#pair_table_wrapper" style="color:#f8ff90;"> Explantions & Feedback</a>
 <a href="#TS">Temporal Patterns</a>
 <a href="#HSCode">HS Code Distributions</a>
 <a href="#TS">Visualize Record Entities</a>
 <a href="#simailarRecords">Compare Similar Records</a>
 <a href="#Sankey">Visualize Flows</a>
 <a href="#network">Visualize Network</a>
</div>

 <div class="container content">

  <div class="row">
    <div class="col-6 record-detail">

          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
            PanjivaRecordID </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.PanjivaRecordID }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
            Bill Of Lading Number </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.BillOfLadingNumber }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
            Arrival Date </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.ArrivalDate }}
          </div>

          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
            Carrier </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.Carrier }}
          </div>
          </div>

          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
            HS Code</span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.HSCode }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
            Shipment Origin </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.ShipmentOrigin }}
          </div>
          </div>

          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
            Port Of Lading </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.PortOfLading }}
          </div>
          </div>

          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
            Port Of Unlading </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.PortOfUnlading }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Shipment Destination
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.ShipmentDestination }}
          </div>
          </div>




          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Consignee Panjiva ID
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.ConsigneePanjivaID|stringformat:".0f"  }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Consignee Name
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.ConsigneeName }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Consignee Country
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.ConsigneeCountry }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Shipper Panjiva ID
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.ShipperPanjivaID|stringformat:".0f" }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Shipper Name
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
          {{ record.ShipperName }}
          </div>
          </div>

          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Shipper Country
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.ShipperCountry }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Divided LCL
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.DividedLCL }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Transport Method
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.TransportMethod }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Is Containerized
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.IsContainerized }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Weight T
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.WeightT }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Inbond Code
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.InbondCode }}
          </div>
          </div>
          <div class="row border record-detail-row text-center">
          <div class="col-sm-5 recordDetailTitleCol">
          <span class='recordDetailTitle text-center '>
          Volume Container TEU
          </span>
          </div>
          <div class="col-sm-7 recordDetailText">
            {{ record.VolumeContainerTEU }}
          </div>
          </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="table-wrapper">
          <table id="pair_table" class="table table-striped">
            <thead>
              <tr>
                <th>Entity A</th>
                <th>Entity B</th>
                <th>Score</th>
                <th>Explains?</th>
              </tr>
            </thead>
            <tbody>
              {% for pair in pairs %}
                <tr>
                  <td>{{ pair.0 }}</td>
                  <td>{{ pair.1 }}</td>
                  <td>{{ pair.2 }}</td>
                  <td><input class="form-check-input" data-entities="{{ pair.0 }};{{ pair.1 }}" type="checkbox" id="pair-check-{{ pair.3 }}" value="pair-{{ pair.3 }}"></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pt-1 justify-content-md-center">
        <div class="col-6">
          <input class="form-check-input" type="checkbox" id="consignee-sus">
          <label class="form-check-label" for="consignee-sus">
            Suspicious Consignee
          </label>
        </div>
      </div>
      <div class="row pt-1 justify-content-md-center">
        <div class="col-6">
          <input class="form-check-input" type="checkbox" id="shipper-sus">
          <label class="form-check-label" for="shipper-sus">
            Suspicious Shipper
          </label>
        </div>
      </div>
      <div class="row pt-1">
        <div class="col-3"></div>
        <div class="col-6">
          <button id="submit" type="button" class="btn btn-primary wide-button">Submit Anomalous Pairs</button>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-3"></div>
        <!--<div class="col-md-4 ">
          <button type="button" class="wide-button btn btn-outline-danger">
          Suspicous Trade
          </button>
        </div>-->
        <div class="col-md-6 ">
          <button id="notsubmit" type="button" class="wide-button btn btn-secondary">
          Not Suspicous
          </button>
        </div>
        <!--<div class="col-md-2">
          <button type="button" class="wide-button btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click to save feedback.">
          Save
          </button>
        </div>-->
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>

  <div class="row" id="TS">
    <ul class="nav nav-tabs" id="time-series-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="fig1-tab" data-bs-toggle="tab" data-bs-target="#fig1" type="button" role="tab" aria-controls="fig1" aria-selected="true">Consignee Activity</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="fig2-tab" data-bs-toggle="tab" data-bs-target="#fig2" type="button" role="tab" aria-controls="fig2" aria-selected="false">Shipper Activity</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="fig1" role="tabpanel" aria-labelledby="fig1-tab">
        {{ fig1.Consignee|safe }}
      </div>
      <div class="tab-pane fade" id="fig2" role="tabpanel" aria-labelledby="fig2-tab">
        {{ fig1.Shipper|safe }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{ fig3|safe }}
    </div>
  </div>

  <div id ="HSCode" class="row">
    <h3>HS Code Distributions for Consignee and Shipper of current Record</h3>
    <div class="col-6">
      {{ hsfig1.Consignee|safe }}
    </div>
    <div class="col-6">
      {{ hsfig1.Shipper|safe }}
    </div>
  </div>

  <div class="row" id="Sankey">
    <div class="col">

      <ul class="nav nav-tabs" id="time-series-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="sankey1-tab" data-bs-toggle="tab" data-bs-target="#sankey1" type="button" role="tab" aria-controls="sankey1" aria-selected="true">Consignee Activity</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="sankey2-tab" data-bs-toggle="tab" data-bs-target="#sankey2" type="button" role="tab" aria-controls="sankey2" aria-selected="false">Shipper Activity</button>
        </li>
      </ul>

      <div class="tab-content" id="sankeyTabs">
        <div class="tab-pane fade show active" id="sankey1" role="tabpanel" aria-labelledby="sankey1-tab">
          <h3>ShipmentOrigin - PortOfLading - HSCode - PortOfUnlading - ShipmentDestination</h3>
          {{ sankey1.type1|safe }}
        </div>
        <div class="tab-pane fade" id="sankey2" role="tabpanel" aria-labelledby="sankey2-tab">
          <h3>ConsigneeName - HSCode - ShipperName</h3>
          {{ sankey1.type2|safe }}
        </div>
      </div>

    </div>
  </div>

  <div class="row" id="network">
    <div class="col">
      <h3>Network</h3>
      {{ networkfig|safe }}
    </div>
  </div>

     <div class="row" id="simailarRecords">
       <div class="col-lg-12 border">
         <div class="card flex-d" >
         <div class="card-img-top text-center">
             <span class="h4 "> Shipper Name[Redacted] </span>
         </div>

         <div class="card-body">
         <h5 class="card-title">Shipper PanjivaID: {{ record.ShipperPanjivaID|stringformat:".0f" }}</h5>
         <p class="card-text">
            Country : {{ shipper.ShipperCountry }} <br/>
            Address : {{ shipper.ShipperFullAddress }}
         </p>

         </div>
         </div>

        <div class="card flex-d" >
        <div class="card-img-top text-center">
            <span class="h4"> Consignee Name[Redacted] </span>
        </div>

        <div class="card-body">
        <h5 class="card-title">Consignee PanjivaID: {{ record.ConsigneePanjivaID|stringformat:".0f" }} </h5>
        <p class="card-text">
            Country: {{ consignee.ConsigneeCountry }} <br/>
            Address: {{ consignee.ConsigneeFullAddress }} <br/>

        </p>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-lg-6 border">
         <div class="row ">
            <div class="col-lg-12 gx-2 border text-container">
               <span class="text-center h5"> Carrier </span>
                {# <iframe class="figure_box" src="./sc_Carrier.html"> </iframe> #}
                {{ carrier_fig.Carrier|safe }}
            </div>
            <div class="col-lg-12 gx-2 border text-container">
                <span class="text-center h5"> ShipmentOrigin </span>

                {# <iframe  class="flex-d figure_box" src="./sc_ShipmentOrigin.html"> </iframe> #}
                {{ carrier_fig.ShipmentOrigin|safe }}
            </div>

            <div class="col-lg-12 gx-2 border text-container">
                <span class="text-center h5"> PortOfLading </span>
                {# <iframe class="figure_box" src="./sc_PortOfLading.html"> </iframe> #}
                {{ carrier_fig.PortOfLading|safe }}
            </div>


         </div>
       </div>

       <div class="col-lg-6 border">
         <div class="row ">
          <div class="col-lg-12 gx-2 border text-container">
              <span class="text-center h5"> HSCode </span>
              {# <iframe class="figure_box" src="./sc_HSCode.html"> </iframe> #}
              {{ carrier_fig.HSCode|safe }}
          </div>

          <div class="col-lg-12 gx-2 border text-container">
              <span  class="text-center h5"> ShipmentDestination </span>

              {# <iframe class="figure_box"  src="./sc_ShipmentDestination.html"> </iframe> #}
              {{ carrier_fig.ShipmentDestination|safe }}
          </div>
          <div class="col-lg-12 gx-2 border text-container">
            <span class="text-center h5"> PortOfUnlading </span>

            {# <iframe class="flex-d figure_box" src="./sc_PortOfUnlading.html"> </iframe> #}
            {{ carrier_fig.PortOfUnlading|safe }}
          </div>

         </div>
       </div>
     </div>

</div>
</div>

{% csrf_token %}

{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/hitl_record.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_SVG"></script>
  <script type="text/javascript">if (window.MathJax) {MathJax.Hub.Config({SVG: {font: "STIX-Web"}});}</script>
  <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const suspiciousEntitiesURL = "{% url 'suspicious_entities' object.PanjivaRecordID %}";
    const notSuspiciousRecordURL = "{% url 'not_suspicious_record' object.PanjivaRecordID %}";
    console.log({suspiciousEntitiesURL});
  </script>        
{% endblock scripts %}
