{% extends "base.html" %}

{% load static %}

{% block head %}
    <link href="{% static 'css/hitl_table.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

<div>
  <label for="epochs">Epochs</label>
  <select id="epochs">
      <option value="2016-01-01">January 2016</option>
  </select>

  <table class="table table-striped table-sm projections" id="main_table" class="display" width="100%"></table>

</div>

{% endblock content %}

{% block scripts %}
  <script type="text/javascript">
    var expandRowUrl = "{% url 'expand_hitl_row' %}";
  </script>
  <script src="{% static 'js/table.js' %}"></script>
  <script src="{% static 'js/hitl_table.js' %}"></script>
{% endblock scripts %}