{% extends "base.html" %}

{% load static %}

{% block head %}
    <link href="{% static 'css/hitl_table.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

{% endblock head %}

{% block content %}

 <div class="container">
 {#  fig1|safe #}
 {#  fig2|safe #}
 

  <div class="row">
    <div class="col-4 record-detail">
      <dl>
        <dt>PanjivaRecordID</dt>
        <dd>{{ record.PanjivaRecordID }}</dd>
        <dt>Bill Of Lading Number</dt>
        <dd>{{ record.BillOfLadingNumber }}</dd>
        <dt>Arrival Date</dt>
        <dd>{{ record.ArrivalDate }}</dd>
        <dt>Carrier</dt>
        <dd>{{ record.Carrier }}</dd>
        <dt>HS Code</dt>
        <dd>{{ record.HSCode }}</dd>
        <dt>Shipment Origin</dt>
        <dd>{{ record.ShipmentOrigin }}</dd>
        <dt>Port Of Lading</dt>
        <dd>{{ record.PortOfLading }}</dd>
        <dt>Port Of Unlading</dt>
        <dd>{{ record.PortOfUnlading }}</dd>
        <dt>Shipment Destination</dt>
        <dd>{{ record.ShipmentDestination }}</dd>
        <dt>Consignee Panjiva ID</dt>
        <dd>{{ record.ConsigneePanjivaID|stringformat:".0f" }}</dd>
        <dt>Consignee Name</dt>
        <dd>{{ record.ConsigneeName }}</dd>
        <dt>Consignee Country</dt>
        <dd>{{ record.ConsigneeCountry }}</dd>
        <dt>Shipper Panjiva ID</dt>
        <dd>{{ record.ShipperPanjivaID|stringformat:".0f" }}</dd>
        <dt>Shipper Name</dt>
        <dd>{{ record.ShipperName }}</dd>
        <dt>Shipper Country</dt>
        <dd>{{ record.ShipperCountry }}</dd>
        <dt>Divided LCL</dt>
        <dd>{{ record.DividedLCL }}</dd>
        <dt>Transport Method</dt>
        <dd>{{ record.TransportMethod }}</dd>
        <dt>Is Containerized</dt>
        <dd>{{ record.IsContainerized }}</dd>
        <dt>Weight T</dt>
        <dd>{{ record.WeightT }}</dd>
        <dt>Inbond Code</dt>
        <dd>{{ record.InbondCode }}</dd>
        <dt>Volume Container TEU</dt>
        <dd>{{ record.VolumeContainerTEU }}</dd>
      </dl>

    </div>
    <div class="col-8">
      <div class="row">
        <div class="table-wrapper">
          <table id="pair_table" class="table table-striped">
            <thead>
              <tr>
                <th>Entity A</th>
                <th>Entity B</th>
                <th>Score</th>
                <th>Anomalous?</th>
              </tr>
            </thead>
            <tbody>
              {% for pair in pairs %}
                <tr>
                  <td>{{ pair.0 }}</td>
                  <td>{{ pair.1 }}</td>
                  <td>{{ pair.2 }}</td>
                  <td><input class="form-check-input" type="checkbox" id="pair-check-{{ pair.3 }}" value="pair-{{ pair.3 }}"></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pt-1">
        <div class="col-3"></div>
        <div class="col-6">
          <button type="button" class="btn btn-primary wide-button">Submit Anomalous Pairs</button>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-1"></div>
        <div class="col-md-4 ">
          <button type="button" class="wide-button btn btn-outline-danger">
          Suspicous Trade
          </button>
        </div>
        <div class="col-md-4 ">
          <button type="button" class="wide-button btn btn-secondary">
          Not Suspicous
          </button>
        </div>
        <div class="col-md-2">
          <button type="button" class="wide-button btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click to save feedback.">
          Save
          </button>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <ul class="nav nav-tabs" id="time-series-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="fig1-tab" data-bs-toggle="tab" data-bs-target="#fig1" type="button" role="tab" aria-controls="fig1" aria-selected="true">Consignee Activity</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="fig2-tab" data-bs-toggle="tab" data-bs-target="#fig2" type="button" role="tab" aria-controls="fig2" aria-selected="false">Shipper Activity</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="fig1" role="tabpanel" aria-labelledby="fig1-tab">
        {{ fig1|safe }}
      </div>
      <div class="tab-pane fade" id="fig2" role="tabpanel" aria-labelledby="fig2-tab">
        {{ fig2|safe }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{ fig3|safe }}
    </div>
  </div>

  <div class="row">
    <h3>HS Code</h3>
    <div class="col-6">
      {{ hsfig1|safe }}
    </div>
    <div class="col-6">
      {{ hsfig2|safe }}
    </div>
  </div>

  <div class="row">
    <div class="col">

      <ul class="nav nav-tabs" id="time-series-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="sankey1-tab" data-bs-toggle="tab" data-bs-target="#sankey1" type="button" role="tab" aria-controls="sankey1" aria-selected="true">Consignee Activity</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="sankey2-tab" data-bs-toggle="tab" data-bs-target="#sankey2" type="button" role="tab" aria-controls="sankey2" aria-selected="false">Shipper Activity</button>
        </li>
      </ul>

      <div class="tab-content" id="sankeyTabs">
        <div class="tab-pane fade show active" id="sankey1" role="tabpanel" aria-labelledby="sankey1-tab">
          <h3>ShipmentOrigin - PortOfLading - HSCode - PortOfUnlading - ShipmentDestination</h3>
          {{ sankey1|safe }}
        </div>
        <div class="tab-pane fade" id="sankey2" role="tabpanel" aria-labelledby="sankey2-tab">
          <h3>ConsigneeName - HSCode - ShipperName</h3>
          {{ sankey2|safe }}
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Network</h3>
      {{ networkfig|safe }}
    </div>
  </div>

     <div class="row">
       <div class="col-lg-3 border">
         <div class="card flex-d" >
         <div class="card-img-top text-center">
             <span class="h4 "> Shipper Name[Redacted] </span>
         </div>

         <div class="card-body">
         <h5 class="card-title">Shipper PanjivaID: {{ record.ShipperPanjivaID|stringformat:".0f" }}</h5>
         <p class="card-text">
            Country : {{ shipper.ShipperCountry }} <br/>
            Address : {{ shipper.ShipperFullAddress }}
         </p>

         </div>
         </div>

        <div class="card flex-d" >
        <div class="card-img-top text-center">
            <span class="h4"> Consignee Name[Redacted] </span>
        </div>

        <div class="card-body">
        <h5 class="card-title">Consignee PanjivaID: {{ record.ConsigneePanjivaID|stringformat:".0f" }} </h5>
        <p class="card-text">
            Country: {{ consignee.ConsigneeCountry }} <br/>
            Address: {{ consignee.ConsigneeFullAddress }} <br/>

        </p>
        </div>
        </div>
      </div>
       <div class="col-lg-3 border">
         <div class="row ">
            <div class="col-lg-12 gx-2 border text-container">
               <span class="text-center h5"> Carrier </span>
                {# <iframe class="figure_box" src="./sc_Carrier.html"> </iframe> #}
                {{ carrier_fig|safe }}
            </div>
            <div class="col-lg-12 gx-2 border text-container">
                <span class="text-center h5"> HSCode </span>
                {# <iframe class="figure_box" src="./sc_HSCode.html"> </iframe> #}
                {{ hscode_fig|safe }}
            </div>

         </div>
       </div>

       <div class="col-lg-3 border">
         <div class="row ">

          <div class="col-lg-12 gx-2 border text-container">
              <span class="text-center h5"> ShipmentOrigin </span>

              {# <iframe  class="flex-d figure_box" src="./sc_ShipmentOrigin.html"> </iframe> #}
              {{ shipmentorigin_fig|safe }}
          </div>
          <div class="col-lg-12 gx-2 border text-container">
              <span  class="text-center h5"> ShipmentDestination </span>

              {# <iframe class="figure_box"  src="./sc_ShipmentDestination.html"> </iframe> #}
              {{ shipmentdestination_fig|safe }}
          </div>
         </div>
       </div>
       <div class="col-lg-3 border">
         <div class="col-lg-12 gx-2 border text-container">
           <span class="text-center h5"> PortOfUnlading </span>

           {# <iframe class="flex-d figure_box" src="./sc_PortOfUnlading.html"> </iframe> #}
           {{ portofunlading_fig|safe }}
         </div>
         <div class="col-lg-12 gx-2 border text-container">
             <span class="text-center h5"> PortOfLading </span>
             {# <iframe class="figure_box" src="./sc_PortOfLading.html"> </iframe> #}
             {{ portoflading_fig|safe }}
         </div>
       </div>
     </div>

</div>
</div>


{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/hitl_record.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
{% endblock scripts %}