<a class="menu-toggle rounded" id="toggle_sidebar" href="#">
    <i class="fas fa-bars" >
    <span>Data Source</span></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#"></a>
      </li>
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="{% url 'data_home' %}"> Home </a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'track' 'china_import' %}">China Import</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'track' 'china_export' %}">China Export</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'track' 'us_import' %}">US Import</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'track' 'peru_export' %}">Peru Export</a>
      </li>
    </ul>
  </nav>