<a class="menu-toggle rounded" id="toggle_sidebar" href="#">
    <i class="fas fa-bars" >
    <span>{% if user.is_authenticated %}&nbsp;{{ user }}{% else %}Menu{% endif %}</span></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <!--<a class="js-scroll-trigger" href="#"></a>-->
      </li>
      <li class="sidebar-top-level">
        {% if user.is_authenticated %}
          <a class="js-scroll-trigger" href="{% url 'account_logout' %}"> Log out </a>
        {% else %}
          <a class="js-scroll-trigger" href="{% url 'account_login' %}"> Log in </a>
        {% endif %}
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'track' 'china_import' %}">China Import</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'track' 'china_export' %}">China Export</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'track' 'us_import' %}">US Import</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'track' 'peru_export' %}">Peru Export</a>
      </li>
    </ul>
  </nav>