<section id='svg-section' class="content-section text-center">
    <div class="row">
      <!-- The Sankey diagram placeholder, filled in by the Sankey JS code -->
      <div class="column col-9 left" id="chart"></div>

      <!-- Floating right panel for filters -->
      <div class="column col-2 right" id="filters">

        <div class="form-group">
          <label for="leftColumn">Left Column</label>
          <select id="leftColumn" class="form-control"></select>
        </div>

        <div class="form-group">
          <label for="leftAttribute">Left Attribute</label>
          <select id="leftAttribute" class="form-control"></select>
        </div>

        <div class="form-group">
          <label for="rightColumn">Right Column</label>
          <select id="rightColumn" class="form-control"></select>
        </div>

        <div class="form-group">
          <label for="rightAttribute">Right Attribute</label>
          <select id="rightAttribute" class="form-control"></select>
        </div>

        <div class="form-group">
          <label for="visualizationFlowOption">Units</label>
          <select id="visualizationFlowOption" class="form-control"></select>
        </div>



        <select id="optFile" class="dropdownStyle" hidden="">
          <option value="china_imp" selected="selected">China Imports</option>
          <option value="china_exp">China Exports</option>
          <option value="peru_exp">Peru Exports</option>
          <option value="us_imp">US Imports</option>
        </select>

      </div>
  </div>
</section>
