  <div class="col">
    <dl>
      <dt>Admin Region</dt>
      <dd>{{ object.adminregion }}</dd>
      <dt>panjivarecordid</dt>
      <dd> {{ object.panjivarecordid }}</dd>
      {% include "partials/expanded_rows/_human_defined_factors.html" %}
    </dl>
  </div>
  <div class="col">
    <dl>
      <dt>Transport Method</dt>
      <dd>{{ object.transportmethod }}</dd>
      <dt>Containerized</dt>
      <dd>{{ object.iscontainerized }}</dd>
      <dt>Trade Type</dt>
      <dd>{{ object.tradetype }}</dd>
      <dt>HS Code Keywords</dt>
      <dd>{{ object.hscodekeywords }}</dd>
    </dl>
  </div>
