  <div class="col">
    <dl>
      <dt>Admin Region</dt>
      <dd>{{ object.adminregion }}</dd>
      <dt>Panjiva Record ID</dt>
      <dd><code>{{ object.panjivarecordid }}</code></dd>
      {% include "partials/expanded_rows/_human_defined_factors.html" %}
      {% if text_flag %}
      <dt>Keyword Match?</dt>
      <dd><i class="fas fa-exclamation-circle" style="color:red"></i>&nbsp;&nbsp;&nbsp;Check HS Code</dd>
      {% endif %}
    </dl>
  </div>
  <div class="col">
    <dl>
      <dt>Transport Method</dt>
      <dd>{{ object.transportmethod }}</dd>
      <dt>Containerized</dt>
      <dd>{{ object.iscontainerized }}</dd>
      <dt>Trade Type</dt>
      <dd>{{ object.tradetype }}</dd>
      <dt>HS Code Keywords</dt>
      <dd>{{ object.hscodekeywords }}</dd>
    </dl>
  </div>
