  <div class="col">
    <dl>
      {% if object.consigneecity %}
      <dt>Consignee City</dt>
      <dd>{{ object.consigneecity }}</dd>
      {% endif %}
      <dt>Province</dt>
      <dd>{{ object.province }}</dd>
      <dt>Admin Region</dt>
      <dd>{{ object.adminregion }}</dd>
      <dt>Panjiva Record ID</dt>
      <dd><code>{{ object.panjivarecordid }}</code></dd>
      {% include "partials/expanded_rows/_human_defined_factors.html" with text_label="HS Code"%}
    </dl>
  </div>
  <div class="col">
    <dl>
      <dt>Transport Method</dt>
      <dd>{{ object.transportmethod }}</dd>
      <dt>Containerized</dt>
      <dd>{{ object.iscontainerized }}</dd>
      <dt>Trade Type</dt>
      <dd>{{ object.tradetype }}</dd>
      <dt>HS Code Keywords</dt>
      <dd>{{ object.hscodekeywords }}</dd>
    </dl>
  </div>
