  <div class="col">
    <dl>
      <dt>Consignee Location</dt>
      <dd>{{ object.consigneecity }}{% if object.consigneecity and object.consigneecountry %}, {% endif %}{{ object.consigneecountry }}</dd>
      <dt>Port of Unlading</dt>
      <dd>{{ object.portofunlading }}</dd>
      <dt>Port of Lading</dt>
      <dd>{{ object.portoflading }}</dd>
      <dt>Carrier</dt>
      <dd>{{ object.carrier }}</dd>
      <dt>Place of Receipt</dt>
      <dd>{{ object.placeofreceipt }}</dd>
      <dt>Panjiva Record ID</dt>
      <dd><code>{{ object.panjivarecordid }}</code></dd>
      {% include "partials/expanded_rows/_human_defined_factors.html" %}
      {% if text_flag %}
      <dt>Keyword Match?</dt>
      <dd><i class="fas fa-exclamation-circle" style="color:red"></i>&nbsp;&nbsp;&nbsp;Check Goods Shipped</dd>
      {% endif %}
    </dl>
  </div>
  <div class="col">
    <dl>
      <dt>Weight</dt>
      <dd>{{ object.weightkg }} kg</dd>
      <dt>Has LCL</dt>
      <dd>{{ object.haslcl }}</dd>
      <dt>Divided LCL</dt>
      <dd>{{ object.dividedlcl }}</dd>
      <dt>Container Numbers</dt>
      <dd>{{ object.containernumbers }}</dd>
      <dt>Goods Shipped</dt>
      <dd>{{ object.goodsshipped }}</dd>
    </dl>
  </div>
