certifi
chardet
defusedxml
Django==2.2.10
django-allauth
django-crispy-forms
django-debug-toolbar
django-environ
django-invitations
idna
numpy==1.22.0
oauthlib
pandas
python-dateutil
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
sqlparse
urllib3
huey
