<div class="expanded-row row">
  {% if track_name == 'china_import' %}
    {% include "partials/expanded_rows/china_import.html" %}
  {% elif track_name == 'china_export' %}
    {% include "partials/expanded_rows/china_export.html" %}
  {% elif track_name == 'peru_export' %}
    {% include "partials/expanded_rows/peru_export.html" %}
  {% elif track_name == 'us_import' %}
    {% include "partials/expanded_rows/us_import.html" %}
  {% endif %}
  <div class="col">
    {% if not hide_all %}
    {% if not hide_compare %}
      <a class="btn btn-outline-info mb-3" href="{% url 'anomaly' track_name=track_name panjivarecordid=object.panjivarecordid %}" role="button" target="_blank" rel="noopener">Compare with Constrasting Transactions</a>
    {% endif %}

    {% if not user.is_authenticated %}
    <div class="prompt-login d-flex align-items-center justify-content-center">
      <a href="{% url "account_login" %}" class="p-4 btn btn-primary">Log in to leave feedback!</a>
    </div>
    {% endif %}

    <div class="form-group">
      <div>
        <label class="mr-2">
          <strong>Valid Anomaly?</strong>
        </label>
        <i id="thumbs-spin-{{ object.panjivarecordid }}" class="fas fa-spinner fa-pulse hidden"></i>
        <i id="thumbs-check-{{ object.panjivarecordid }}" class="fas fa-check hidden"></i>
        <i id="thumbs-error-{{ object.panjivarecordid }}" class="fas fa-times hidden"></i>
      </div>
      <div id="thumbs-{{ object.panjivarecordid }}" class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-dark radio-btn-check {% if thumbs == 'yes' %}active{% endif %}">
          <input onchange="setThumbs('{{ object.panjivarecordid }}')" type="radio" name="options" value="yes" id="option1" autocomplete="off" {% if thumbs == 'yes' %}checked{% endif %}>
          <i class="fas fa-check"></i> Yes
        </label>
        <label class="btn btn-outline-dark radio-btn-times {% if thumbs == 'no' %}active{% endif %}">
          <input onchange="setThumbs('{{ object.panjivarecordid }}')" type="radio" name="options" value="no" id="option2" autocomplete="off" {% if thumbs == 'no' %}checked{% endif %}>
          <i class="fas fa-times"></i> No
        </label>
        <label class="btn btn-outline-dark {% if thumbs == 'clear' %}active{% endif %}">
          <input onchange="setThumbs('{{ object.panjivarecordid }}')" type="radio" name="options" value="clear" id="option3" autocomplete="off" {% if thumbs == 'clear' %}checked{% endif %}>
          <i class="fas fa-ban"></i> Clear
        </label>
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <label for="comments-text-area-{{ object.panjivarecordid }}">
        <strong>Comments</strong>
      </label>
      <textarea class="form-control" id="comments-text-area-{{ object.panjivarecordid }}" rows="3">{{ comment }}</textarea>
    </div>
    <div class="text-center">
      <button type="button" class="btn mb-3 {% if user.is_authenticated %}btn-primary{% else %}btn-outline-primary{% endif %}" onclick="submitComment('{{ object.panjivarecordid }}')">Submit comment</button>
    </div>
    <i id="spin-{{ object.panjivarecordid }}" class="fas fa-spinner fa-pulse hidden"></i>
    <i id="check-{{ object.panjivarecordid }}" class="fas fa-check hidden"></i>
    <i id="error-{{ object.panjivarecordid }}" class="fas fa-times hidden"></i>
  </div>
</div>
