.container {
  padding-top: 2em;
}

#pair_table td:last-of-type {
  text-align: center;
}

.table-wrapper {
  /*height: 500px;*/
  /*overflow-y: scroll;*/
}

.wide-button {
  width: 100%;
}


.record-detail {
  overflow: auto;
  height: 35rem;
  border-bottom-color: black;
  border-radius: 10px;
  border-width: 6px;
  padding: 0.25rem;
}