.centeredCurvedBox {
  border-radius: 25px;
  border: 2px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-family: Georgia,serif;
  font-size: 1.1rem;
}

.uncenteredCurvedBox {
  border-radius: 25px;
  border: 2px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  width: 500px;
  font-family: Georgia,serif;
  font-size: 1.1rem;
}

.uncenteredCurvedBox h1 {
  text-align: center;
  border-bottom: 1px dashed #999;
  padding-bottom: 5px;
}

.uncenteredCurvedBox h2 {
  text-align: center;
  padding-top: 50px;
}

.centerMe {
  text-align: center;
}

.smallerText {
  font-size: 0.8rem;
}
