td.details-control {
  background: url('https://dac-wwf.cs.vt.edu/static/datatables/DataTables-1.10.18/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('https://dac-wwf.cs.vt.edu/static/datatables/DataTables-1.10.18/resources/details_close.png') no-repeat center center;
}

td > div.expanded-row {
  text-align: left;
}
